tk==0.1.0
# pyinstaller --onefile --windowed main.py
# pyinstaller --onefile --windowed --name "clock" --clean --noconsole main.py
# pyinstaller --onefile --windowed --icon=icon.ico --noconsole main.py